@import "tailwindcss";

@utility font {
  font-family: var(--font-poppins), sans-serif;
}

@theme inline {
  --font-sans: var(--font-playfair), serif;
  --font-serif: var(--font-playfair), serif;
  --font-mono: var(--font-playfair), serif;
}
